* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: black;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 0;
    
}


.final a:hover {
    color: #222;
    text-decoration: underline;
} 

.link {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.link:hover {
    text-decoration: underline;
}
.salir {
    padding: 10px 20px;
    background-color: white; 
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.salir:hover {
    background-color: #6b6a6a;
    color: white;
    text-decoration: underline;
}

.informacion h1{
    position: relative;
    color: #444;
    left: 580px;
    top: 50px;
    font-size: 50px;
}

.informacion img{
    position: relative;
    top: -50px;
    left: 1400px;
    width: 130px;
}

.cuadro1{
    border: solid 1px;
    border-radius: 15px;
    margin-left: 600px;
    margin-top: -50px;
    padding: 10px;
    height: 510px;
    width: 790px; 
}

.cuadro1 button{
    position: relative;
    background: rgb(255, 208, 0);
    padding: 10px 10px;
    border-radius: 50px;
    border: none;
    top: 10px;
}

.cuadro1 h4{
    padding-top: 20px;
}

.cuadro1 ul{
    padding-left: 20px;
}

.cuadro2{
   border: solid 1px;
    border-radius: 15px;
    margin-left: 600px;
    margin-top: 40px;
    padding: 10px;
    height: 150px;
    width: 790px;  
}
footer.pie {
    background-color: #f4f4f4;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    text-align: center;
    margin-top: 50px;
}

.final {
    width: 100%;
    padding: 40px;
}

.final h2 {
    padding-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
}

.final p {
    padding-top: 30px;
    font-size: 1.1rem;
    color: #777;
}

.final a {
    padding: 10px 20px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 1rem;
    color: #555;
    font-weight: 500;
    transition: color 0.3s;
}
