body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;  
    background:#f4f4f4;
    height: 100vh;
}  
.formulario{
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: white;
    width: 500px;
    border-radius: 20px;
    padding: 20px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}  

h1{
    color: black;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 2px solid silver;
    padding-bottom: 10px;
}
form div {
    position: relative;
    margin: 20px 15px;
}
form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
    text-align: left;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[list] {
    width: 460px;
    padding: 5px;
    font-size: 15px;
    border: none; 
    border-bottom: 2px solid #adadad;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[list]:focus {
    border-bottom: 3px solid #6c3483;
}
.Nacimiento {
    margin: 10px;
    width: 460px;
}
.Nacimiento label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
    text-align: left;
    margin: 10px 5px;
}
.Nacimiento input[type="date"] {
    width: 460px;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #adadad;
    background: transparent;
    outline: none;
    transition: border-color 0.3s ease;
}
.Nacimiento input[type="date"]:focus {
    border-bottom-color: #6c3483;
}
.envio{
    margin: 0px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.opt button {
    text-align: center;
    background: black; 
    color: white;                   
    padding: 8px 200px;         
    border-radius: 20px;       
    cursor: pointer;           
    font-size: 20px;
}